

body {
    margin: 0 ;
    padding: 0 ;
    background-color: #efeee7 ;
    font-family: "Georgia" ;
}

p {
    font-size: 18px ;
}

a {
    color: navy ;
}
    
#bannerImage {
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    height: 375px ;
    background-image: url("/images/yarn1.jpeg") ;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100% ;
}

#banner1 {
    margin: 20px ;
    display: flex ;
    justify-content: flex-start ;
    align-items: flex-start ;
}

#banner2 {
    display: flex ;
    justify-content: flex-end ;
    align-items: flex-end ;
    margin-bottom: 20px ;
}






h2 {
    margin: 0px ;
}


i {
   width: 50px ;
}

#bannerImage h2 {
    margin-right: 75px ;
    padding: 8px ;
    background-color: lightpink ;
    color: navy ;
}

h4 {
    margin: 0px ;
    color: navy ;
}

#bannerImage h1 {
    margin: 0px ;
    background-color: lightpink;
    color: navy ;
    display: inline ;
    text-align: center ;
    padding: 10px ;
}


header {
    background-color: lightpink ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 90px ;
}

header ul {
    display: flex ;
    list-style-type: none ;
    margin: 0 ;
    padding: 0 ;
}

header ul li {
    margin: 20px ;
}

footer {
    display: flex ;
    justify-content: center ;
    background-color: lightpink ;
    align-items: center ;
}

i {
    color: navy ;
}

#githubIcon {
    border-radius: 50%;
}

.icon {
    margin: 15px ;
    display: inline ;
    height: 48px ;
}

a {
    height: 48px ;
}

#linkedinIcon {
    padding-left: 8px ;
}



#contact {
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
    margin: 15px ;
}

#icons {
    margin-top: 15px ;
}

#codingLangs {
    margin: 20px ;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

span {
    font-weight: bold;
}